{{#partial "content"}}

    <p>About The Hike:</p>
    <p>{{hike.nameOfHike}}</p>
    <h5>Located At:</h5>
    <p>{{location.name}}</p>
    <h5>Notes on this hike:</h5>
    <p>
        {{hike.notesOnHike}}
    </p>
    <br>
    <p>
        <a href="/hikes/{{hike.id}}/update">Edit this Hike...</a><br>
        <a href="/locations/{{hike.locationId}}/hikes/{{hike.id}}/delete">DELETE this hike (no undo)</a>
    </p>

{{/partial}}

{{> layout.hbs}}