{{#partial "content"}}

    <p>About The Hike:</p>
    <p>{{nameOfHike}}</p>
    <h5>Located At:</h5>
    <p>{{locationOfHike}}</p>
    <h5>Notes on this hike:</h5>
    <p>
        {{notesOnHike}}

        <a href="/hikes/{{hike.id}}/update">Edit this Hike...</a><br>
        <a href="/hikes/{{id}}/delete">DELETE this hike. Better have a good reason! (no undo)</a>
    </p>

{{/partial}}

{{> layout.hbs}}