{{#partial "content"}}
    <p>Viewing current location:{{location.name}}<br>Here are all the hikes listed:</p>

    <ul>
        {{#each hikes}}
            <li>
                <h5>Hike Name:</h5>
                <p>{{nameOfHike}}</p>
                <h5>Here are some notes about the hike:</h5>
                <p> {{notesOnHike}}</p>
                <h5>Hike Rating Avg:</h5>
                    {{ratingHike}}
                <br>
                <a href="/hikes/update">Edit this hike!</a><br>
                <a href="/locations/{{id}}/hikes/{{id}}/delete">DELETE this hike (no undo)</a>
                </p>
            </li>
        {{/each}}
    </ul>
    <a href="/locations/update">Edit this location</a><br>
    <a href="/locations/delete">DELETE this location (no undo)</a>
    <br>
    <b><a href="/">Go Back</a></b>

{{/partial}}

{{> layout.hbs}}