{{#partial "content"}}
    <h3 class="locHeading">Viewing current location:<br>{{locations.name}} <hr><br>Here are all the hikes listed:</h3>
    <ul>
        {{#each hikes}}
            <li>
                <h4>Hike Name:</h4>
                <p>{{nameOfHike}}</p>
                <h4>Here are some notes about the hike:</h4>
                <p> {{notesOnHike}}</p>
                <h4>Hike Rating:</h4>
                    {{ratingHike}}
                <br>
                <a href="/hikes/update">Edit this hike!</a><br>
                <a href="/locations/{{id}}/hikes/{{id}}/delete">DELETE this hike (no undo)</a>
                </p>
            </li>
            <hr>
        {{/each}}
    </ul>
    <div class="well well-transparent">
        <a href="/locations/update">Edit this location</a><br>
        <a href="/locations/{{locations.id}}/delete">DELETE this location (no undo)</a>
        <<a href="/hikes/delete">DELETE ALL HIKES</a>
        <hr>
        <b><a href="/">Go Back</a></b>
    </div>
{{/partial}}

{{> layout.hbs}}